body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.background {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #0e1626;
}

.us-map {
  height: 100%;
}

.states {
  fill: #1d2c4d;
}

.state-borders {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

.state-names {
  font-size: 10px;
}

.state-names text:hover {
  fill: orange;
  cursor: pointer;
}

.us-map .circle-instances {
  fill-opacity: 0.5;
  position: absolute;
}

.year {
  position: absolute;
  top: 20%;
  right: 200px;
}

.gender-options {
  position: absolute;
  top: 25%;
  right: 200px;
  color: #ccc;
}

foreignObject p {
  padding: 0 10px;
  font-size: 12px;
}

.axis-x,
.axis-y {
  stroke: #ccc;
}

.axis-x path,
.axis-y path{
  stroke: #ccc;
}

.bar {
  fill: #6f9ba5;
}

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8)
}

.modal-popup {
  position: absolute;
  top: 150px;
  left: 45%;
  z-index: 3;
  background: #fff;
}
