.background {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #0e1626;
}

.us-map {
  height: 100%;
}

.states {
  fill: #1d2c4d;
}

.state-borders {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

.state-names {
  font-size: 10px;
}

.us-map circle {
  position: absolute;
  z-index: 5;
}
